/out/build/x64-Debug
/.vs
/.vs/CallOfISS
/.vs/CallOfISS/CopilotIndices/17.14.1091.29919
/.vs/CallOfISS/FileContentIndex
/.vs/CallOfISS/v17
/.vs/CMake Overview
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/out/build/x64-Release/_deps
/out/build/x64-Release/lib
/out/build/x64-Release/glad_cmake
/out/build/x64-Release/gladsources
/out/build/x64-Release/Testing
/out/build/x64-Release/CMakeFiles
/out/build/x64-Release/.cmake
/out/build/x64-Release/.ninja_deps
/out/build/x64-Release/.ninja_log
/out/build/x64-Release/al.cppm.ifc.dt.d.json
/out/build/x64-Release/al.cppm.ifc.dt.module.json
/out/build/x64-Release/al.cppm.ifc.dt.module.json.command
/out/build/x64-Release/alc.cppm.ifc.dt.d.json
/out/build/x64-Release/alc.cppm.ifc.dt.module.json
/out/build/x64-Release/alc.cppm.ifc.dt.module.json.command
/out/build/x64-Release/alext.cppm.ifc.dt.d.json
/out/build/x64-Release/alext.cppm.ifc.dt.module.json
/out/build/x64-Release/alext.cppm.ifc.dt.module.json.command
/out/build/x64-Release/alstd.cppm.ifc.dt.d.json
/out/build/x64-Release/alstd.cppm.ifc.dt.module.json
/out/build/x64-Release/alstd.cppm.ifc.dt.module.json.command
/out/build/x64-Release/build.ninja
/out/build/x64-Release/CallOfISS.exe
/out/build/x64-Release/CallOfISS.ilk
/out/build/x64-Release/CallOfISS.pdb
/out/build/x64-Release/CMakeCache.txt
/out/build/x64-Release/cmake_install.cmake
/out/build/x64-Release/CPackConfig.cmake
/out/build/x64-Release/CPackSourceConfig.cmake
/out/build/x64-Release/efx.cppm.ifc.dt.d.json
/out/build/x64-Release/efx.cppm.ifc.dt.module.json
/out/build/x64-Release/efx.cppm.ifc.dt.module.json.command
/out/build/x64-Release/gsl.cppm.ifc.dt.d.json
/out/build/x64-Release/gsl.cppm.ifc.dt.module.json
/out/build/x64-Release/gsl.cppm.ifc.dt.module.json.command
/out/build/x64-Release/openal.cppm.ifc.dt.d.json
/out/build/x64-Release/openal.cppm.ifc.dt.module.json
/out/build/x64-Release/openal.cppm.ifc.dt.module.json.command
/out/build/x64-Release/VSInheritEnvironments.txt
/vc140.pdb
/out/build/x64-Release/settings.yaml
/out/build/x64-Release/al.cppm.ifc.dt
/out/build/x64-Release/al.cppm.ifc.dt.command
/out/build/x64-Release/alc.cppm.ifc.dt
/out/build/x64-Release/alc.cppm.ifc.dt.command
/out/build/x64-Release/alext.cppm.ifc.dt.command
/out/build/x64-Release/alstd.cppm.ifc.dt.command
/out/build/x64-Release/efx.cppm.ifc.dt.command
/out/build/x64-Release/gsl.cppm.ifc.dt
/out/build/x64-Release/gsl.cppm.ifc.dt.command
/out/build/x64-Release/openal.cppm.ifc.dt.command
/out/build/x64-Release/CallOfISS.exp
/out/build/x64-Release/CallOfISS.lib
